.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 80px;
    font-size: 40px;
}

body {
    background-color: whitesmoke;
}